.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-inline: 100px;
  flex-direction: row;
  padding-top: 0px;
  margin-top: -70px;
}

.heading,
.heading2 {
  text-align: center;
  font-size: 8rem;
  font-family: "The Girl Next Door", cursive;
}

.heading > span,
.heading2 > p > span {
  font-size: 10rem;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}
.btnGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.button {
  list-style: none;
  text-decoration: none;
  font-weight: 900;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-1 {
  list-style: none;
  text-decoration: none;
  font-weight: 900;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-2 {
  list-style: none;
  text-decoration: none;
  font-weight: 900;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-3 {
  list-style: none;
  text-decoration: none;
  font-weight: 900;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-1:hover {
  border: 2px solid #6b1e3c;
  border-radius: 5px;
  color: white;
  background-color: #6b1e3c;
  transform: scale(1.1);
  transition: 500ms;
}
.button-2:hover {
  border: 2px solid #1e436b;
  border-radius: 5px;
  color: white;
  background-color: #1e436b;
  transform: scale(1.1);
  transition: 500ms;
}
.button-3:hover {
  border: 2px solid #00b3a7;
  border-radius: 5px;
  color: white;
  background-color: #00b3a7;
  transform: scale(1.1);
  transition: 300ms;
}

.img {
  width: 375px;
  margin-top: 0px;
}

img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(10);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
.heading2 {
  display: none;
}
@media (max-width: 992px) {
  .img {
    width: 50%;
    margin-top: 10%;
  }
  .rightContainer {
    margin-top: 0%;
  }
  .rightContainer .heading > span {
    font-size: 9rem;
  }
  .rightContainer .heading {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  .img {
    width: 15%;
    margin-top: 2%;
  }
  .home-container {
    width: max-content;
  }
  .img {
    margin-left: 5%;
  }
  .rightContainer {
    /* width: max-content; */
    width: 500px;
  }
  .rightContainer .heading > span {
    font-size: 6rem;
  }
  .rightContainer .heading {
    font-size: 3rem;
  }
  .btnGrid {
    display: flex;
    flex-direction: row;
  }
  .button-container {
    width: 100px;
  }
}
@media (max-width: 668px) {
  .img {
    width: 15%;
    margin-left: 0;
  }
  .rightContainer {
    width: auto;
  }
}

@media (max-width: 600px) {
  .home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
    padding-top: 0px;
    margin-inline: 0px;
  }

  .img {
    width: 50%;
    margin-top: 10px;
    padding-bottom: 2%;
  }
  .heading {
    /* font-size: 50px; */
    display: none;
  }
  .rightContainer .heading2 {
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    margin: auto;
    justify-content: center;
  }
  .rightContainer .heading2 > p > span {
    font-size: 5rem;
  }
  .btnGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button-container {
    width: auto;
  }
}
