.table table tbody tr td,
.table table thead tr th{
    width: 80px;
}

.table table tbody tr td,
.table table thead tr th{
    text-align: left;
}

@media (max-width: 768px) {
    .table{
        /* padding-inline-start: 30%; */
    }
    .tableitem{
        display: flex;
        justify-content: center;
    }
    .table table thead tr th,
    .table table tbody tr td{
        /* width: 100px; */
    }
    
}
@media (max-width : 600px) {
    .table{
        /* padding-inline-start: 20%; */
    }
    
}

