.EM1-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EM1-heading-container{
    background-color: #6b1e3c;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EM2-heading-container{
    background-color: #1e436b;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EM3-heading-container{
    background-color: #00b3a7;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.heading-em{
    text-align: center;
    color:white;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 64px;
}

.Unit-container{
    width: 80vw;
    height: fit-content;
    box-shadow: 1px 1px 20px 1px rgba(71, 71, 71, 0.2);
    background-color: white;
    color: black;
    padding: 40px;
    margin: 40px;
    border-radius: 20px;
}

.concept{
    color: black;
    margin-top: 25px;
    list-style: none;
    text-decoration: none;
    color: black;
    margin: 3px;
    cursor: pointer;
}